# ─── BOT DISCORD ──────────────────────────────────
DISCORD_TOKEN=ton_token_discord_ici

# ─── CONFIG BOT ───────────────────────────────────
PREFIX=+
BOT_COLOR=#5865F2
OWNER_ID=ton_id_discord_ici

# ─── RAILWAY ──────────────────────────────────────
# Monte un volume Railway sur /data pour conserver les données.
DATA_DIR=/data
YTDLP_PATH=yt-dlp
